<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
    <h1>Thanks for signing up for The Orbital Mechanics Podcast's weekly show notes!</h1>
    <p>As promised, here's an unsubscribe link: <%= link_to edit_user_url(@user), edit_user_url(@user) %></p>
  </body>
</html>