<h1>Weekly show note email preferences for <i><%= @user.email %></i></h1>

<%= form_for @user, url: user_path do |form| %>
  <%= form.check_box :subscribed %> Subscribe to weekly show notes emails<br><br>
  <%= form.submit 'update preferences' %>
<% end %>
