<h1>Welcome</h1>

Thanks for signing up! You can expect notes to arrive to your inbox at 1200 Pacific (UTC-8) on Tuesdays, or 1100 during the winter. We've sent you a welcome email with an unsubscribe link, in case this was a mistake.